## Explore Data in the Global Emissions Dataset

### Import

In [3]:
import pandas as pd
import numpy as np

### Load Data

In [10]:
dataFrame = pd.read_csv('Data/GCB2022v27_MtCO2_flat.csv')
print(dataFrame.describe())
print(dataFrame.info())

               Year         Total          Coal           Oil           Gas  \
count  63104.000000  62904.000000  21744.000000  21717.000000  21618.000000
mean    1885.500000     55.224788     73.968916     55.760624     23.504285
std       78.519728    824.845435    598.986992    519.034563    247.674772
min     1750.000000      0.000000      0.000000      0.000000      0.000000
25%     1817.750000      0.000000      0.000000      0.091600      0.000000
50%     1885.500000      0.000000      0.271852      1.044240      0.000000
75%     1953.250000      0.549342      6.736411      8.339752      0.581628
max     2021.000000  37123.850352  15051.512770  12345.653374   7921.829472

             Cement       Flaring        Other    Per Capita
count  20814.000000  21550.000000  1620.000000  18974.000000
mean       4.330443      1.712695    10.951389      4.413363
std       50.305770     16.727067    39.034073     17.432815
min        0.000000      0.000000     0.000000      0.000000
25%        0.000000      0.000000     0.520885      0.197866
50%        0.022756      0.000000     1.255329      1.303949
75%        0.568502      0.000000     4.385471      5.077994
max     1672.592372    439.253991   306.638573    834.192642
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63104 entries, 0 to 63103
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             63104 non-null  object
 1   ISO 3166-1 alpha-3  61472 non-null  object
 2   Year                63104 non-null  int64
 3   Total               62904 non-null  float64
 4   Coal                21744 non-null  float64
 5   Oil                 21717 non-null  float64
 6   Gas                 21618 non-null  float64
 7   Cement              20814 non-null  float64
 8   Flaring             21550 non-null  float64
 9   Other               1620 non-null   float64
 10  Per Capita          18974 non-null  float64
dtypes: float64(8), int64(1), object(2)
memory usage: 5.3+ MB
None

### Notes on data

Mean year of 1885 is the first interesting that pops out. This obviously relates to the industrial adoption of coal production, I am interested to see what countries differ from this average and possibly why.

I am also intrested to see when and by how much the different countries phased out coal for oil, or if they have at all. I also wonder if any of this data can be correlated to ideology.

### Exploring the Year

In [17]:
dataFrame.groupby(['Country']).agg(min)

,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
Country,,,,,,,,,,
Afghanistan,AFG,1750,0.0,0.003664,0.000000,0.0,0.00000,0.0,NaN,0.011266
Albania,ALB,1750,0.0,0.000000,0.007328,0.0,0.00000,0.0,NaN,0.236891
Algeria,DZA,1750,0.0,0.000000,0.000000,0.0,0.00000,0.0,NaN,0.408457
Andorra,AND,1750,0.0,0.000000,0.406704,0.0,0.00000,0.0,NaN,0.000000
Angola,AGO,1750,0.0,0.000000,0.127068,0.0,0.00000,0.0,NaN,0.041728
...,...,...,...,...,...,...,...,...,...,...
Viet Nam,VNM,1750,0.0,0.179536,0.000000,0.0,0.00000,0.0,NaN,0.050149
Wallis and Futuna Islands,WLF,1750,0.0,0.000000,0.018320,0.0,0.00000,0.0,NaN,0.000000
Yemen,YEM,1750,0.0,0.000000,0.040304,0.0,0.00000,0.0,NaN,0.008427
Zambia,ZMB,1750,0.0,0.131904,0.095425,0.0,0.02405,0.0,NaN,0.180375
Zimbabwe,ZWE,1750,0.0,0.113584,0.000000,0.0,0.00000,0.0,NaN,0.615130